<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>学IT - 后台管理系统</title>
    <!-- 通过php的include方法，当浏览器访问这个页面时， php就会把提取出去的公共html片段引入进来，然后返回给浏览器 -->
    <?php include($_SERVER['DOCUMENT_ROOT'].'/html/common/style.html')?>
</head>

<body>
    <!-- 页面公共左侧导航 -->
    <?php include($_SERVER['DOCUMENT_ROOT'].'/html/common/aside.html')?>
    <!-- 主体 -->
    <div class="main">
        <div class="container-fluid">
            <!-- 页面公共头部 -->
            <?php include($_SERVER['DOCUMENT_ROOT'].'/html/common/header.html')?>
            <div class="body teacher">
                <!-- 面包屑 -->
                <!-- 页面面包屑与表单模版 -->
                <script id="teacher-add-edit-tpl" type="text/tpl">
                    <!-- 面包屑 -->
                    <ol class="breadcrumb">
                        <li><a href="javascript:;">讲师管理</a></li>
                        <li class="active">{{ tc_id? '讲师编辑': '讲师添加' }}</li>
                    </ol>
                    <div class="teacher-add">
                        <form id="teacher-add-edit-form" action="{{ tc_id? '/v6/teacher/update': '/v6/teacher/add' }}" method="post" class="form-horizontal col-xs-offset-2">
                            <!-- 如果是讲师编辑，那么在提交表单的时候，需要这个讲师id -->
                            {{ if tc_id }}
                            <input type="hidden" name="tc_id" value="{{ tc_id }}"> {{ /if }}
                            <div class="form-group">
                                <label for="" class="col-xs-3 control-label">姓名</label>
                                <div class="col-xs-4">
                                    <input type="text" name="tc_name" value="{{ tc_name }}" class="form-control input-sm" placeholder="讲师名称">
                                </div>
                            </div>
                            <!-- 如果是添加讲师，那么在添加时候的时候，需要给它设定一个初始密码，那么这个用户才能登陆。但是编辑的时候不需要 -->
                            {{ if !tc_id }}
                            <div class="form-group">
                                <label for="" class="col-xs-3 control-label">密码</label>
                                <div class="col-xs-4">
                                    <input name="tc_pass" value="{{ tc_pass }}" type="password" class="form-control input-sm">
                                </div>
                            </div>
                            {{ /if }}
                            <div class="form-group">
                                <label for="" class="col-xs-3 control-label">入职时间</label>
                                <div class="col-xs-4">
                                    <input id="datepicker-join" name="tc_join_date" value="{{ tc_join_date }}" type="text" class="form-control input-sm">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-xs-3 control-label">类型</label>
                                <div class="col-xs-2">
                                    <select name="tc_type" class="form-control input-sm">
                                <option value="1" {{ tc_type == 1? 'selected': '' }}>讲师</option>
                                <option value="0" {{ tc_type == 1? '': 'selected' }}>管理员</option>
                            </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-xs-3 control-label">性别</label>
                                <div class="col-xs-4">
                                    <label class="radio-inline">
                                <input name="tc_gender" value="0" {{ tc_gender == 0? 'checked': '' }} type="radio" checked> 男
                            </label>
                                    <label class="radio-inline">
                                <input name="tc_gender" value="1" {{ tc_gender == 1? 'checked': '' }} type="radio"> 女
                            </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-7">
                                    <button type="submit" class="btn btn-success btn-sm pull-right"> 添 加 </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </script>
            </div>
        </div>
    </div>
    <!-- 页面公共头部 -->
    <?php include($_SERVER['DOCUMENT_ROOT'].'/html/common/script.html')?>
</body>

</html>